<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: PaleTurquoise;
  color: black;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #111;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.flex-container > div {
  background-color: lightblue;
  width: 500px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button5 {background-color: #555555;}
</style> </head>

<body>
  
    
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/doctor_form">Doctor Signup</a>
      <a href="/patient_login">Doctor Login</a>
      <a href="/patient_form">Patient Signup</a>

      <a href="/patient_login">Patient Login</a>
     <a href="/" style="float:right">Logout</a>

    </div>
    <br><br><br>
    <div class="flex-container">
      <div>
    
        Doctor Make Your Appointment for Tomorrow 
        </div>
      <div><a href="/set_appointment"><button class="button button5">Doctor Book an Appointment for Tomorrow</button></a></div>
      
    </div><br><br>
    <div class="flex-container">
      <div>
    See the Appointments for Tomorrow
        </div>
      <div><a href="/make_appointments"><button class="button button5">See the Appointments</button></a></div>
      
    </div>
    
    <div class="footer">
                    <p> &copy; Copyright 2021</p>
                  </div>
    </body>
    </html>