<html>

<head>

</head>

<body>
    <h1>Custom Test Form:</h1>
    <form method="post" action="/custom_query_patient">

        Year: <input type="number" name="patient[age]"><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>